<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Error</title>
  <link rel="stylesheet" href="all/css/font-awesome.min.css">
   <link rel="stylesheet" href="css/errorMassage.css">
    <link rel="stylesheet" href="css/loader.css">
</head>
<body>
  <div class="container">
  <div class="content">
    <h1>Access Denied</h1>
    <p>{{message}}</p>
    <p><a href="/login">Go to Login</a></p>
    </div>
    <div class="warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
  </div>
</div>
</body>
</html>
