<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZamHarvest</title>
     <link rel="stylesheet" href="assets/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="all/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/loader.css">
    <link rel="stylesheet" href="css/cards.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/nav.css">
</head>
<body>
  
    <header id="navbar">
        <nav>
          <a class="logo" href="/home">ZamHarvest</a>
            <ul class="menu">
              <li>
                <a>Marketplace</a>
                <ul class="submenu">
                  <li><a href="/listproduct">Buyer</a></li>
                  <li><a href="/view" >Seller</a></li>
                </ul>
              </li>
              <li><a href="/messaging" >Messages</a></li>
              <li><a href="#" >About</a></li>
              <li><a href="#" >Resources</a></li>
            </ul>
          </nav>
          <div class="login">
             <i class="fa fa-user-circle-o" id="loginIcon" aria-hidden="true"></i>
               <div class="login-dropdown" id="loginDropdown">
                <!-- Content will be populated by JavaScript based on login status -->
             </div>
          </div>
          <div class="notfication-logo">
            <i class="fa fa-bell" aria-hidden="true"></i>
            <span class="badge hidden">0</span>
          </div>

    </header>

    <!-- carousel -->
    <div class="carousel">
        <!-- list item -->
        <div class="list">
            <div class="item">
                <img src="/image/pexels-arcadiantastic-32421445.jpg">
                <div class="content">
                    <div class="title">DIGITAL MARKET PLACE</div>
                    <div class="topic">ZamHarvest</div>
                    <div class="des">
                        <!-- lorem 50 -->
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/image/pexels-enginakyurt-1435904.jpg">
                <div class="content">
                    <div class="title">DIGITAL MARKET PLACE</div>
                    <div class="topic">BUYER & SELLER</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                </div>
            </div>

        </div>
        <!-- list thumnail -->
        <div class="thumbnail">
            <div class="item">
                <img src="/image/pexels-enginakyurt-1435904.jpg">
                <div class="content">
                    <div class="title">
                        BUYER
                    </div>
                    <div class="description">
                        Description
                        ffdsfhghgdfghgsdhghshaghfghhzghsghshghfhfahghagyriuwueryryuyruirw
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/image/pexels-arcadiantastic-32421445.jpg">
                <div class="content">
                    <div class="title">
                        SELLER
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            
        </div>
        <!-- next prev -->
        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <!-- time running -->
        <div class="time"></div>
    </div>


    <main>
      <div class="about-section">
       <div class="about-container">
         <div class="about-content">
          <div class="about-heading">
        <h1>ZamHarvest</h1>
      </div>
      <div class="about-description">
          <div id="welcomeSection">
         <!-- Welcome message will be populated by JavaScript based on login status -->
       </div>
      </div>

            <div class="socials">
                <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
              </div>
    </div>
    <div class="about-image">
      <img src="image/pexels-zeal-creatives-58866141-31283912.jpg" alt="Farm produce">
    </div>
  </div>
</div>
      <div class="container">
        <h1 class="artical-h1">Sourcing produce for businesses just got easier.</h1>
      <P class="card-p">The leading produce business marketplace for all grades of produce, including surplus & off-grade.</P>
         <div class="card__container">
            <article class="card__article">
              <div class="img-container">
               <img src="image/pexels-arcadiantastic-32421445.jpg" alt="image" class="card__img">
               </div>
               <div class="card__data">
                  <span class="card__description">Vancouver Mountains, Canadahdhufhiuewhfuihyueqyhuyhuiyeq7ydteyt
                    ehfggiuhwuyfuiywiueyfuyufufyuetfytfyetly
                  </span>
                  <h2 class="card__title">Title here</h2>
                  <a href="#" class="card__button">Read More</a>
               </div>
            </article>

            <article class="card__article">
              <div class="img-container">
               <img src="image/pexels-huseyin-ozen-1036906-2006800.jpg" alt="image" class="card__img">
              </div>
               <div class="card__data">
                  <span class="card__description">Poon Hill, Nepal</span>
                  <h2 class="card__title">Title here</h2>
                  <a href="#" class="card__button">Read More</a>
               </div>
            </article>

            <article class="card__article">
              <div class="img-container">
               <img src="image/pexels-olena-2429655-4058752.jpg" alt="image" class="card__img">
               </div>
               <div class="card__data">
                  <span class="card__description">Bojcin Forest, Serbia</span>
                  <h2 class="card__title">Title here</h2>
                  <a href="#" class="card__button">Read More</a>
               </div>
            </article>
         </div>
      </div>      
    <footer>
        <section class="top">
          <a class="logo" href="index.html">ZamHarvest</a>
          <div class="links">
            <div class="links-column">
              <h2>Market place</h2>
              <a href="#">Buyer</a>
              <a href="#">Seller</a>
          
        
            </div>
            <div class="links-column">
              <h2>Resources</h2>
              <a href=""> FAQ</a>
              <a href="#">About Us</a>
              <a href="">Blog</a>
              <a href="#">Produce</a>
            </div>
            <div class="links-column">
              <h2>About Us</h2>
              <a href="#">Our Story</a>
              <a href="#">Press</a>
              <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +260777597931</a>
              <a href=""><i class="fa fa-map-marker" aria-hidden="true"> Location</i></a>
            </div>
            <div class="links-column socials-column">
              <h2>Social Media</h2>
              <div class="socials">
                <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </section>
        <section class="bottom">
          <p class="copyright">© 2024 All rights reserved</p>
          <div class="legal">
            <a> Contact </a>
            <a> Terms </a>
            <a> Privacy </a>
          </div>
        </section>
      </footer>
      <div class="loader-wrapper">
        <span class="loader"></span>
      </div>

    <script src="js/app.js"></script>
    <script src="js/main.js"></script>
    <script src="/js/loginscript.js"></script>
    <script src="/js/loader.js"></script>
    <script src="js/notificationSystem.js"></script>
    <script src="js/authManager.js"></script>
</body>

  <script>
    window.addEventListener("load", () => {
      const loaderWrapper = document.querySelector(".loader-wrapper");
      if (loaderWrapper) {
        loaderWrapper.style.display = "none"; // Hide loader
      }
    });
  </script>

<script>
    // Check if user data is available (passed from server)
    {{#if user}}
        // Store the user data in localStorage
        localStorage.setItem('user', JSON.stringify({{{json user}}}));
        console.log('User data stored in localStorage:', localStorage.getItem('user'));
    {{/if}}
</script>
<script src="js/errorHandler.js"></script>
<script src="js/navigation.js"></script>
</html>