<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/test.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="all/css/font-awesome.min.css">
    <title>Product Details</title>
</head>
<body>
    <div class="back-link"><i class="fa fa-chevron-left" aria-hidden="true"></i><a href="/listproduct">Back to Market Place</a></div>
    
    <div id="temporaryContent" class="temporaryContent">
        <div class="left-detail">
            <div class="name-product">
                <div class="title"></div>
                <div class="type-Product"></div>
            </div>
            <div class="availability" id="availabilityID"></div>
            <div class="image-container">
                <img src="" alt="">
            </div>
        </div>
        
        <div class="right-detail">
            <div class="content">
                <div class="price-container">
                    <div>
                    <div class="price-lable"></div>
                    <span class="slash">/</span>
                    <div class="scale">ld</div>
                    </div>
                    <p class="final-price">Total Price: K<span id="finalPrice">00</span></p>
                </div>
                <label class="date-lable" for="date">Delivery Date</label>
                <div class="delivery-date"><input type="date" placeholder="Delivery" id="deliveryDate" min=""></div>
                <div class="price"></div>
                
                <label class="quantity" for="date">Add Quantity</label>
                <div class="counter">
                    <span class="minus">-</span>
                    <span class="num">01</span>
                    <span class="plus">+</span>
                </div>
                
                <div class="buttons">
                    <button class="order" type="button" data-product-id="{{product._id}}">ORDER</button>
                    <button class="addCart">Message Supplier</button>
                </div>
            </div>
        </div>
    </div>
      <div class="p-container">
    <p>
      Edit, add new availabilities. To create a new listing, click on "Add New Product" below. Have more questions? <br>
      email us at ZamHarvest@gmail.com.
    </p>
  </div>
    <div class="aboutProduct">About Product:</div>
    <div class="description"></div>
    <div class="loader-wrapper">
        <span class="loader"></span>
    </div>

    <script src="js/counter.js"></script>
    <script src="/js/test.js"></script>
    <script src="js/notificationSystem.js"></script>
    <script src="js/authManager.js"></script>
    <script>
      window.addEventListener("load", () => {
        const loaderWrapper = document.querySelector(".loader-wrapper");
        if (loaderWrapper) {
          loaderWrapper.style.display = "none"; // Hide loader
        }
      });

</body>
</html>
