<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/view.css">
  <link rel="stylesheet" href="all/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="css/search.css">
</head>
<body>
  <header id="navbar">
    <nav>
      <a class="logo" href="/home">ZamHarvest</a>
      <ul class="menu">
        <li><a href="/home">Home</a></li>
        <li><a href="/frontend/templates/view.hbs">Dashboard</a></li>
        <li><a href="/request">Requests</a></li>
      </ul>
    </nav>
    <div class="login"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
  </header>

  <section class="top-banner">
    <h2>Access to a Vast <span> Supplier</span> Network</h2>
    <p>Get instant access to thousands of produce listings of all grades all in one place.</p>
    
  </section>

  <div class="p-container">
    <p>
      Edit, add new availabilities. To create a new listing, click on "Add New Product" below. Have more questions? <br>
      email us at ZamHarvest@gmail.com.
    </p>
  </div>

  <div class="find-item">
    <div class="search-container">
      <form action="#" class="search" id="search-bar">
        <input type="search" placeholder="Search Item..." name="q" class="search__input">
        <div class="search__button" id="search-button">
          <i class="ri-search-2-line search__icon"></i>
          <i class="ri-close-line search__close"></i>
        </div>
      </form>
    </div>
    <a href="/add" class="button" onclick="localStorage.removeItem('editProductId')">
      <i class="fa fa-plus" aria-hidden="true"></i> Add New Product
    </a>
  </div>

  <h2 style="text-align:center">Your Listing</h2>
  <div class="pro-container" id="productList"></div>

  <div class="pagination-controls">
    <button id="prevBtn"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
    <span id="pageIndicator"> 1</span>
    <button id="nextBtn"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
  </div>

  <div class="bottom-button">
    <a href="/add" class="button" onclick="localStorage.removeItem('editProductId')">
      <i class="fa fa-plus" aria-hidden="true"></i> Add New Product
    </a>
  </div>
  <span class="loader"></span>
  <script src="js/search.js"></script>
  <script src="/js/view.js"></script>
  <script>
</body>
</html>